#topArea {
  position: relative;
  width: fit-content;
}

#box img {
  width: 25px;
  height: 25px;
  display: block;
}

#box {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 10px;
  width: fit-content;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  height: 50px;
}

#form {
  width: 50vw;
  padding-bottom: 2px;
  height: 40px;
  padding-left: 5px;
}
#form::placeholder {
  color: rgb(73, 73, 73);
}

#suggestArea {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
}
#suggestArea p {
  padding: 10px 0;
}
