/*設定の記述*/
#backShadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#settingWindow {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

/*トップバーのcssの記述*/
#bar {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
#applybuttonArea {
  right: 0px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 0 0 0 auto;
}
#applybuttonArea input[type="button"] {
  font-size: 17px;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
}
#cancelB {
  background-color: rgb(16, 173, 16);
}
#cancelB:active {
  background-color: rgb(12, 144, 12);
}
#applyB {
  background-color: rgb(226, 68, 68);
}
#applyB:active {
  background-color: rgb(175, 43, 43);
}

/*サイドバー*/
#sideBar {
  padding-right: 15px;
}
.sidebarTitle {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 0;
}
.sidebarTitle:hover {
  background-color: rgb(213, 255, 223);
}
.sidebarTitle:active {
  background-color: rgb(191, 255, 206);
}
.sidebarTitle.nowSelect {
  background-color: rgb(147, 255, 159);
}

/*bodyの内容*/
#body {
  padding-top: 5px;
  display: flex;
}

/*コンテンツの設定*/
#setDisplay {
  width: 400px;
}
