#clockChild {
  display: flex;
}
#clockChild div {
  box-sizing: border-box;
}
#clTime {
  font-size: 25px;
  font-weight: bold;
}
#timeArea {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#timeArea canvas {
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
}
