#clockChild {
  display: flex;
  gap: 10px;
}
#clockChild div {
  box-sizing: border-box;
}
#clTime {
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}
#timeArea {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#timeArea canvas {
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
}

#dateArea {
  display: flex;
  align-items: center;
}
#daCenter p {
  margin: 20px 0;
}

.trendA {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 0;
}
.trendA:hover {
  color: #229e37;
  text-decoration: underline;
}

.newsA {
  display: block;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  text-overflow: ellipsis;
}
.newsA:hover {
  color: #229e37;
}
#newsArea {
  margin: 5px 0;
  position: relative;
}
