#clockChild {
  text-align: center;
  padding: 10px 0;
}
#clockChild div {
  box-sizing: border-box;
}
#clTime {
  font-size: 25px;
  margin: 5px 0;
  font-weight: bold;
}

#dateArea {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#daCenter p {
  margin: 20px 0;
}

.trendA {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 0;
}
.trendA:hover {
  color: #229e37;
  text-decoration: underline;
}

.newsA {
  display: block;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  text-overflow: ellipsis;
}
.newsA:hover {
  color: #229e37;
}
#newsArea {
  margin: 5px 0;
  position: relative;
}

#tsButton {
  display: flex;
  gap: 5px;
  align-items: center;
}
.newsButton {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 5px;
  border-radius: 50%;
}
.newsButton:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
.newsButton:active {
  background-color: rgba(128, 128, 128, 0.6);
}
.newsButton img {
  width: 22px;
  height: 22px;
  display: block;
}
