#parent {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}
#parent::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: inherit;
  filter: brightness(80%);
  z-index: -1;
}

#top {
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  gap: 30px;
}

#icon img {
  width: 25px;
  height: 25px;
  display: block;
  padding: 5px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-right: 10px;
}

#icon h1 {
  padding-right: 10px;
  font-size: 25px;
  color: white;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "HGS明朝E",
    "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: normal;
}
#icon {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  height: 50px;
  box-sizing: border-box;
}

#bottom {
  display: flex;
  justify-content: center;
}
